
@{
    ViewBag.Title = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h4>
    Your password is reset. Please click @Html.ActionLink("here", "Login") to login.
</h4>

